body {
  background: $bg-color;
  font-family: 'andrewandreasplain';
  font-size: 14px;
  color: $text-color;
}

.container {
  max-width: 960px;
  margin: 0 auto;

    &.map {
      .contact {
        .far{
          font-size: 15px;
        
          &.fa-var-phone {
            &:before {
              content: "\f095";
            }
          }
      }
    }
  }
}

//header

header {
  padding: 20px 0;
  background: $main-bg;
  position: relative;
     
  &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100px;
      background: linear-gradient(transparent 15%, black 105%);
      z-index: 10;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;

    @media screen and (min-width: $medium) {
      padding: 0 30px;
    }
  }

   .logo {
     width: 180px;
     height: 60px;
     z-index: 100;

     img {
       width: 100%;
       height: 100%;
     }
   }
   nav {
     margin: 0;
     z-index: 100;
      ul {
        display: none;

        @media screen and (min-width: $medium)  {
          display: block;

          li {
            float: left;
            a {
              text-decoration: none;
              color: $text-color;
              text-transform: uppercase;
              font-weight: bold;
              padding: 20px;
              font-size: 16px;
              font-family: 'Montserrat-Bold';
              letter-spacing: 1px;

              &:hover {
                text-decoration: underline;
                color: $text-color;
              }
            }
          }
        }
      }

      .fa-align-justify,
      .fa-times{
        color: $text-color;
        display: inline-block;
        font-size: 30px;
        margin: 10px 0 0 0;

        @media screen and (min-width: $medium) {
          display: none;
        }
      }

      .fa-times {
        display: none;
      }


      &.active {
        ul  {
          display: block;
          width: 100%;
          background: $main-bg;
          position: absolute;
          left: 0;
          top: 100px;
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);

          li {
            a {
              text-decoration: none;
              color: $text-color;
              display: block;
              box-shadow: 0 0px 2px rgba(0,0,0,0.5);
              text-transform: uppercase;
              font-weight: bold;
              padding: 10px 20px;
              font-size: 16px;
              font-family: 'Montserrat-Bold';
            }
          }
        }
        .fa-times {
          display: block;
        }
        .fa-align-justify {
          display: none;
        }

      }
   }
}


.fa,
.fas {
  color: $bg-color;
}

button {
  background: none;
  border: none;
  outline: none;

    &:hover {
      cursor: pointer;
    }
}

p {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 10px 0;
}

.main-content {
  h1, h2 {
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 30px 0 40px;
    font-size: 36px;
  }

  .services {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

      @media screen and (min-width: $medium) {
        flex-direction: row;
        justify-content: space-around;
      }

    .item {
      width: 250px;
      height: auto;
      text-align: center;
      margin: 20px auto;
       
      span {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        margin: 30px 0;
        letter-spacing: 1px;
      }
    }
    
    .fas {
      font-size: 90px;
      color: $main-bg;

      @media screen and (min-width: $medium) {
        font-size: 120px;
      }
    }
  }

  form {
    padding: 0 20px;
    margin: 0 0 40px 0;

    input, select {
      display: block;
      max-width: 520px;
      margin: 20px auto;
      width: 100%;
      padding: 15px 20px;
      border: 3px solid $main-bg;
      font-size: 18px;
      border-radius: 5px;
    }
    select {
      height: 56px;
    }

    label {
      max-width: 520px;
      display: block;
      margin: 20px auto 0;
      font-size: 18px;
    }

    input[type=submit] {
      background: $main-bg;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;

      &:hover {
        background: $bg-hover;
        border: 3px solid $bg-hover;
      }
    }
  }
}

footer {
  padding: 20px;
  background: $main-bg;
  position: relative;
  height: auto;
 
  @media screen and (min-width: $medium) {
    padding: 30px 50px;
    height: 100px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }

  &:after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 100px;
      background: linear-gradient(transparent 15%, black 105%);
      z-index: 10;
  }
  .logo {
    width: 120px;
    height: 40px;
    z-index: 100;
    margin: 0 auto;

    @media screen and (min-width: $medium) {
      margin: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
  ul {
    margin: 10px 0;
    li {
      @media screen and (min-width: $medium) {
        float: left;
      }
        a {
          text-decoration: none;
          color: $text-color;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
          font-family: 'Montserrat-Bold';
          letter-spacing: 1px;
          z-index: 100;
          position: relative;
          padding:  5px 20px;
          display: block;

          @media screen and (min-width: $medium) {
            padding: 0 20px;
          }

            &:hover {
              text-decoration: underline;
              color: $text-color;
            }
        }
    }
  }
}

