body {
  background: $main-bg-color;
  font-family: 'andrewandreasplain';
  font-size: 14px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

//header

header {
  padding: 20px 0;
  background: $main-bg;
  //box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

   .logo {
     width: 180px;
     height: 60px;

     img {
       width: 100%;
       height: 100%;
     }
   }
   nav {
     margin: 26px 0 0 0;
      ul {
        li {
          float: left;
          a {
            text-decoration: none;
            color: $text-color;
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px;
            font-size: 16px;
            font-family: 'Montserrat-Bold';
          }
        }
      }
   }
}


.fa,
.fas {
  color: $bg-color;
}

.btnIcon {
  display: inline-block;
  width: 48px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: $bg-color;

  &:hover,
  &:focus {
    color: $purple-light;
    outline: none;
  }

  &:hover,
  &:focus {
    span {
      color: $purple-light;
    }
  }

  &.filterName {
    width: 52px;
    font-size: 1.2em;
  }
}

button {
  background: none;
  border: none;
  outline: none;

    &:hover {
      cursor: pointer;
    }
}

.main_block {
  display: flex;
  max-width: 885px;
  margin: -60px auto 0;

  @media screen and (max-width: $medium) {
    margin: 0 auto;
  }

  @media screen and (min-width: $large) {
    position: relative;
    left: -30px;
  }

  @media screen and (min-width: $extra-large) {
    max-width: 1050px;
  }

  @media screen and (min-width: $max-large) {
    max-width: 1065px;
  }

  .side_bar {
    width: 42%;

    @media screen and (min-width: $extra-large) {
      width: 40%;
    }
  }

  .user_info {
    flex: 1;
    box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.3);
    height: 100%;
  }
}




