$bg-color: #fff;
$main-bg: #ece80a;
$bg-hover: #fdf90a;
$text-color: #000;

$extra-small: 414px;
$small: 560px;
$extra-medium: 780px;
$medium: 960px;
$large: 1024px;
$extra-large: 1280px;
$max-large: 1920px;

